# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.pytest_cache/
.coverage
htmlcov/

# Static / Build
dist/
build/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

# Project specific
scratch/
*.log
